@layer components {
    .btn {
        @apply flex h-[2.25rem] items-center justify-center rounded px-4 font-medium transition-colors;
    }
    .btn.btn-contain {
        @apply text-white;
    }
    .btn.btn-contain.btn-primary {
        @apply bg-primary hover:bg-primary-dark;
    }

    .btn.btn-outline.btn-primary {
        @apply text-primary ring-1 ring-primary hover:bg-primary hover:text-white;
    }

    .btn.btn-lg {
        @apply h-11 px-5;
    }

    .btn.btn-square.btn-md {
        @apply w-[2.25rem] px-0;
    }

    .btn.btn-square.btn-lg {
        @apply w-11 px-0;
    }

    .icon svg {
        @apply h-full w-full fill-current stroke-current;
    }

    @keyframes pageLoaderLoaded {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.7;
            width: 100%;
        }
        100% {
            opacity: 0;
            width: 100%;
        }
    }
    @keyframes pageLoaderLoading {
        0% {
            width: 0px;
            opacity: 1;
        }
        20% {
            width: 70%;
            opacity: 1;
        }
        100% {
            width: 90%;
            opacity: 1;
        }
    }
    .loading-bar.loading {
        animation-name: pageLoaderLoading;
        animation-duration: 4s;
        animation-fill-mode: forwards;
    }

    .loading-bar.loaded {
        animation-name: pageLoaderLoaded;
        animation-duration: 2s;
    }
}
